export(keggGlobalGraph)
export(shortestPathsGraph)
export(updateGlobalGraph)
export(edgeData_keggPathwaygraphs)
export(nodeData_keggPathwaygraphs)
import(ROntoTools)
importFrom(igraph,get.all.shortest.paths)
importFrom(igraph,igraph.from.graphNEL)
import(graph)
import(methods)
importFrom(stringr,str_match)
